html, body {
	margin: 0;
	padding: 0;
	background: #000;
	font-family: 'Gotham Rounded';
	-webkit-font-smoothing: antialiased;
	font-size:15px;
}

#logo {
	position: absolute;
	z-index: 100;
	left: 26px;
	top:32px;
}

#tiles {
	display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
	display: -ms-flexbox;           /* TWEENER - IE 10 */
	display: -webkit-flex;          /* NEW - Chrome */
	display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
}

.main-tile, .reg-tile {
	display: flex;
	height: 33.3vh;
	color: #fff;
	position: relative;
}

.main-tile {
	flex: 1 66.3%;
}

.reg-tile {
	flex: 1 33%;
}

h2 {
	font-size: 2em;
	font-weight: 300;
	-webkit-margin-before:0.3em;
}

.background {
	background: url(https://unsplash.it/1000/800/?random);
	background-size: 100%;
	background-position: center;
	height: 100%;
	width: 100%;
	-webkit-filter: brightness(30%);
	filter: brightness(30%);
	z-index: 0;
	position: absolute;
	-webkit-transition: all 0.18s ease-in-out;
	-moz-transition: all 0.18s ease-in-out;
	-o-transition: all 0.18s ease-in-out;
	transition: all 0.18s ease-in-out;
}

.background:hover {
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
	background-size: 120%;
}

.caption {
	z-index: 1;
	padding-left: 23px;
	align-self: flex-end;
	position: relative;
}
